[submodule "DP-Scaler"]
	path = DP-Scaler
	url = https://github.com/jyshtty/DP-Scaler.git
[submodule "Graphs"]
	path = Graphs
	url = https://github.com/jyshtty/Graphs.git
[submodule "KMP"]
	path = KMP
	url = https://github.com/jyshtty/KMP.git
[submodule "Leetcode-1"]
	path = Leetcode-1
	url = https://github.com/jyshtty/Leetcode-1.git
[submodule "Tries"]
	path = Tries
	url = https://github.com/jyshtty/Trie-and-Heaps.git
[submodule "Leetcode"]
	path = Leetcode
	url = https://github.com/jyshtty/leet_code.git
